@font-face {
    font-family: 'baal';
    src: url('balenci.woff2') format('woff2'),
         url('balenci.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vete';
    src: url('vetemens.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nbaal';
    src: url('newbaal.woff2') format('woff2');
}

body {
    font-family: 'nbaal', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    margin: 0;
}

.baal-font {
    font-family: 'baal', sans-serif;
}

.nbaal-font {
    font-family: 'nbaal', sans-serif;
}

.vete-font {
    font-family: 'vete', sans-serif;
}

.contact {
    font-family: 'nbaal', sans-serif;
    margin-top: 10px;
}

.tight-spacing {
    line-height: 0.5;
}

.thumbnail {
    width: 120px;
    height: 120px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}

/* Divider */
.divider {
    height: 8px;
    border: none;
    background-color: white;
    margin: 1rem 0;
}

/* Poem section */
.main-content {
    padding: 0 1rem;

}

.poem {
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
    max-width: 800px;

}

.line {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 0.4em;
    margin: 0.5rem 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line span {
    opacity: 1;
    transition: opacity 2s ease, transform 2s ease;
    transform: translateY(0);
}

.hidden {
    visibility: hidden;
}

/* Mobile support */
@media (max-width: 768px) {
    .title-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .thumbnail {
        width: 150px;
        height: auto;
    }

    .line {
        flex-direction: column;
        align-items: flex-start;
    }
}
